<server description="defaultServer">
    
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>mpConfig-3.0</feature>
    </featureManager>
    
    <applicationManager autoExpand="true"/>
    
    <mpMetrics authentication="false"/>
    
    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/"/>
    <variable name="app.name" defaultValue="azure-microprofile-integration-tests-open-liberty-sample"/>
    
    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <webApplication location="${app.name}.war" contextRoot="${app.context.root}"/>
</server>
